@text-color: #66152c;
@display-inline: inline-block;
@margin-left: 30px;
@textarea-width: 55%;
@margin-auto: auto;

body{
    color: @text-color;
}
.wrapper{
  max-width: 850px;
  margin: auto;
}
.markdown{
    top: 0;
    width: @textarea-width;
    display: @display-inline;
    @media (max-width: 400px) {
      @textarea-width: 95%;
    width: @textarea-width;
    display: block;
    }
}
.catcher {
    display: @display-inline;
    margin-left: @margin-left;
    @media (max-width: 400px) {
    width: 95%;
    display: block;
    margin-left: @margin-left - 10;
    }
}
